body {
    background-color: #FFDAB9;
    color: #653E7A;
    font: 1.2em "Fira Sans", sans-serif;
}

h1 {
    text-align: center;
}

input, textarea {
    background-color: #EBB5E0;
    border: 2px solid #653E7A;
    font: 1.2em "Fira Sans", sans-serif;
}

input.button {
    background-color: #EBB5E0;
    border: 2px solid #653E7A;
    border-radius: 12px;
    padding: 4px 40px;
    margin-left: 12px;
    margin-right: 12px;
}

input.button:hover {
    background-color: #008CBA;
    color: white;
}

textarea.details {
    font: 1em "Fira Sans", sans-serif;
    display: block;
    border: none;
    margin: 10px;
}

/* GRID form from S.O. */

form {}

div.form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    margin: 2em;
}

div.container {
    border-radius: 10px;
    border: 4px solid #6e4099;
    padding 2em;
    margin: 2em;
    background-color: #EEC4E8;
    /* used https://www.cssmatic.com/box-shadow to create these parameters */
    box-shadow: 12px 12px 30px 0px rgb(106, 120, 131);
}

div.button-spacing {
    padding: 1em;
}

div.form label {
    text-align: right;
    font-weight: bold;
    font-size: 18pt;
}

div.form label:after {
    content: ":";
}

.item {
    margin: 2em;
    border: 2px solid #D09CED;
    padding: 15px;
}

li {
    list-style-type: none;
}

/* from w3schools */
.collapsible {
    background-color: #653E7A;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #3D205A;
    border-radius: 12px;
    text-align: left;
    outline: none;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 1.2em "Fira Sans", sans-serif;
}

.active, .collapsible:hover {
    background-color: #D09CED;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font: 1.2em "Fira Sans", sans-serif;
}